
obj/

HotelIS/RelationalDatabaseConnector/bin/

HotelIS/QueryModule/bin/

HotelIS/ProjectionEngine/bin/

HotelIS/packages/

HotelIS/NoSQLConnector/bin/

HotelIS/.vs/

HotelIS/CommandModule/bin/

HotelIS/ConsoleApp1/bin/

HotelIS/CommandModuleAPI/bin/

HotelIS/ClassLibrary1/bin/
